# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/cmddumper Executable File

type cmddumper, domain;
