# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/mtk_advcamserver Executable File

type mtk_advcamserver, domain;
